﻿<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar" />
            </div>

            <div class="col-sm-9 padding-right">
                <partial name="Partial/_ProductDetails"/>

                <partial name="Partial/_CategoryTab" />

                <partial name="Partial/_RecomendetItems" />
            </div>
        </div>
    </div>
</section>
