﻿@model IEnumerable<Employee>

    <div class="container">
        <h2>Список сотрудников:</h2>
        <p></p>

        <table class="table">
            <thead>
                <tr style="font-weight:bold;">
                    <td>Фамилия</td>
                    <td>Имя</td>
                    <td>Отчество</td>
                    <td>Возраст</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td><a asp-action="Details" asp-route-id=@item.Id >@item.LastName</a></td>
                    <td>@item.FirstName</td>
                    <td>@item.Patronymic</td>
                    <td>@item.Age</td>
                    <td>
                        <a asp-controller="Employees" asp-action="Details" asp-route-id=@item.Id>
                            <i class="fa fa-info"></i>
                        </a>

                        @*<a asp-controller="Employees" asp-action="TestDetails"
                           asp-route-p1=@item.FirstName
                           asp-route-p2="@item.LastName">test
                        </a>*@
                        @{ var dict = new Dictionary<string, string>()
                           {
                               { "p1", item.FirstName },
                               { "p2", item.LastName }
                           };
                         }
                        <a asp-controller="Employees" asp-action="TestDetails"
                           asp-all-route-data=dict >test</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-default">Домой</a>
        </p>
    </div>