﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    
    @await Html.PartialAsync("Partial/_Styles")

    @*<link rel="shortcut icon" href="images/ico/favicon.ico">*@   
</head><!--/head-->

<body>
    <partial name="Partial/_Header"/>

    @RenderBody()

    <partial name="Partial/_Footer"/>

    <partial name="Partial/_Scripts"/>        
</body>
</html>