﻿<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
        <li class="dropdown">
            <a href="#">Shop<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="Products" asp-action="Index">Products</a></li>
                <li><a asp-controller="ProductDetails" asp-action="Index">Product Details</a></li>
                <li><a asp-controller="Checkout" asp-action="Index">Checkout</a></li>
                <li><a asp-controller="Cart" asp-action="Index">Cart</a></li>
                <li><a asp-controller="Login" asp-action="Index">Login</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a asp-controller="Home">Blog<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="Blog" asp-action="Index">Blog List</a></li>
                <li><a asp-controller="BlogSingle" asp-action="Index">Blog Single</a></li>
            </ul>
        </li>
        <li><a asp-controller="Error404" asp-action="Index">404</a></li>
        <li><a asp-controller="ContactUs" asp-action="Index">Контакты</a></li>
        <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
    </ul>
</div>